body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#container {
    display: flex;
    width: 350px;
    gap: 1px;
    flex-wrap: wrap;
    justify-content: center;
}

.grid-box {
    height: 20px;
    width: 20px;
    border: 2px solid rgb(255, 192, 203);
    box-sizing: border-box;
}